@model List<TaskList>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
    
}

<h2>To-Do List</h2>

@if (Model.Any())
{
    <table class="table">
        <thread>
            <ul>
                <li>@Model</li>
                <li>@Model</li>
            </ul>
        </thread>
    </table>
}