@model ToDoList.Models.TaskList

<h4>Project/TaskList.cshtml</h4>

<!-- List Name --> 
<h2>@Model.Title</h2>
<hr/>


<ul>
    <!-- List Item Iteration -->
    @foreach (var item in Model.Items)
    {
        <li>@item.Name</li>
        
    }
</ul>
    
<!-- Add new task -->
<form asp-action="AddItem" asp-route-listId="@Model.ListId" method="post">
    <div class="form-group">
        <label for="itemName">New Task</label>
        <input type="text" id="itemName" name="itemName" class="form-control" required/>
    </div>
    <button type="submit" class="btn btn-primary">add to list</button>
</form>

<hr/>


}

