@model ToDoList

@{
    // Variables
    var listName = "To Do List";
    var listName2 = "Grocery List";
    var listName3 = "Christmas List";
    
}

<h2>Lists</h2>
<div class="lists">
    <div class="list">
        <p>Title: @listName</p>
    </div>
    <div class="list">
        <p>Title: @listName2</p>
    </div>
    <div class="list">
        <p>Title: @listName3</p>
    </div>
    
    
</div>